In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("Top_indian.csv")

In [3]:
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [5]:
df1=df[["time needed to visit in hrs","Google review rating","Number of google review in lakhs","Entrance Fee in INR"]]

In [6]:
df1

,time needed to visit in hrs,Google review rating,Number of google review in lakhs,Entrance Fee in INR
0,0.5,4.6,2.60,0
1,2.0,4.5,0.40,30
2,5.0,4.6,0.40,60
3,2.0,4.1,0.27,50
4,2.0,4.2,0.31,15
...,...,...,...,...
320,3.0,4.6,0.18,0
321,2.0,4.5,1.30,40
322,2.0,4.7,0.15,10
323,2.0,4.4,0.51,200
324,2.0,4.5,0.63,200

In [7]:
df.corr()

ValueError: could not convert string to float: 'Northern'

In [ ]:
df1.corr()

In [ ]:
df1.value_counts()

In [ ]:
df1.shape

In [ ]:
df1["Entrance Fee in INR"].value_counts()

In [ ]:
newdf=df1[(df1["Entrance Fee in INR"]!=0)]

In [ ]:
newdf

In [ ]:
x=newdf.drop(columns=["Entrance Fee in INR"])

In [ ]:
y=newdf["Entrance Fee in INR"]

In [ ]:
x.shape

In [ ]:
y.shape

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.40)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
Lmodel=LinearRegression()
Lmodel.fit(x_train,y_train)

In [ ]:
Lmodel.score(x_train,y_train)

In [ ]:
Lmodel.score(x_test,y_test)

In [ ]:
from sklearn.linear_model import Lasso
reg2= Lasso(alpha=25,max_iter=100,tol=0.3)
reg2.fit(x_train,y_train)

In [ ]:
reg2.score(x_test,y_test)

In [ ]:
reg2.score(x_train,y_train)